/* line 4, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\000034}}
#lista-programas table td li {
  margin-left: 18px;
}
/* line 12, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000312}}
#rangos-fechas .dropdown-toggle {
  padding-bottom: 13px;
}
/* line 18, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000318}}
#mytabs #tab1 {
  height: 89em !important;
}
/* line 24, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000324}}
.bs-docs-archivos:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0;
  color: #9DA0A4;
  content: "Archivos";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
/* line 37, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000337}}
.bs-docs-archivos {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin: 15px 0;
  padding: 39px 19px 14px;
  position: relative;
}
/* line 47, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000347}}
.bs-docs-archivos input[type="file"] {
  display: block;
}
/* line 53, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000353}}
div.switch {
  position: relative;
  padding: 0;
  display: block;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1.11111rem;
  height: 2rem;
  background: white;
  border-color: #cccccc;
}
/* line 64, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000364}}
div.switch label {
  position: relative;
  left: 0;
  z-index: 2;
  float: left;
  width: 50%;
  height: 100%;
  margin: 0;
  font-weight: bold;
  text-align: left;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 77, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000377}}
div.switch input {
  position: absolute;
  z-index: 3;
  opacity: 0;
  width: 100%;
  height: 100%;
  -moz-appearance: none;
}
/* line 84, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000384}}
div.switch input:hover,
div.switch input:focus {
  cursor: pointer;
}
/* line 86, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000386}}
div.switch span:last-child {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  display: block;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 98, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\0000398}}
div.switch input:not(:checked) + label {
  opacity: 0;
}
/* line 100, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003100}}
div.switch input:checked {
  display: none !important;
}
/* line 102, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003102}}
div.switch input {
  left: 0;
  display: block !important;
}
/* line 105, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003105}}
div.switch input:first-of-type + label,
div.switch input:first-of-type + span + label {
  left: -50%;
}
/* line 107, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003107}}
div.switch input:first-of-type:checked + label,
div.switch input:first-of-type:checked + span + label {
  left: 0%;
}
/* line 109, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003109}}
div.switch input:last-of-type + label,
div.switch input:last-of-type + span + label {
  right: -50%;
  left: auto;
  text-align: right;
}
/* line 113, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003113}}
div.switch input:last-of-type:checked + label,
div.switch input:last-of-type:checked + span + label {
  right: 0%;
  left: auto;
}
/* line 116, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003116}}
div.switch span.custom {
  display: none !important;
}
/* line 118, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003118}}
form.custom div.switch .hidden-field {
  margin-left: auto;
  position: absolute;
  visibility: visible;
}
/* line 122, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003122}}
div.switch label {
  padding: 0;
  line-height: 2.3rem;
  font-size: 0.77778rem;
}
/* line 126, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003126}}
div.switch input:first-of-type:checked ~ span:last-child {
  left: 100%;
  margin-left: -1.94444rem;
}
/* line 129, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003129}}
div.switch span:last-child {
  width: 2rem;
  height: 2rem;
}
/* line 132, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003132}}
div.switch span:last-child {
  border-color: #b3b3b3;
  background: white;
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #f3faf6, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px #f5f5f5;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 980px #f3faf6, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px #f5f5f5;
}
/* line 140, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003140}}
div.switch:hover span:last-child,
div.switch:focus span:last-child {
  background: white;
  background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
}
/* line 145, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003145}}
div.switch:active {
  background: transparent;
}
/* line 147, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003147}}
div.switch.large {
  height: 2.44444rem;
}
/* line 149, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003149}}
div.switch.large label {
  padding: 0;
  line-height: 2.3rem;
  font-size: 0.94444rem;
}
/* line 153, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003153}}
div.switch.large input:first-of-type:checked ~ span:last-child {
  left: 100%;
  margin-left: -2.38889rem;
}
/* line 156, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003156}}
div.switch.large span:last-child {
  width: 2.44444rem;
  height: 2.44444rem;
}
/* line 159, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003159}}
div.switch.small {
  height: 1.55556rem;
}
/* line 161, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003161}}
div.switch.small label {
  padding: 0;
  line-height: 2.1rem;
  font-size: 0.66667rem;
}
/* line 165, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003165}}
div.switch.small input:first-of-type:checked ~ span:last-child {
  left: 100%;
  margin-left: -1.5rem;
}
/* line 168, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003168}}
div.switch.small span:last-child {
  width: 1.55556rem;
  height: 1.55556rem;
}
/* line 171, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003171}}
div.switch.tiny {
  height: 1.22222rem;
}
/* line 173, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003173}}
div.switch.tiny label {
  padding: 0;
  line-height: 1.9rem;
  font-size: 0.61111rem;
}
/* line 177, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003177}}
div.switch.tiny input:first-of-type:checked ~ span:last-child {
  left: 100%;
  margin-left: -1.16667rem;
}
/* line 180, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003180}}
div.switch.tiny span:last-child {
  width: 1.22222rem;
  height: 1.22222rem;
}
/* line 183, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003183}}
div.switch.radius {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 186, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003186}}
div.switch.radius span:last-child {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 189, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003189}}
div.switch.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 192, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003192}}
div.switch.round span:last-child {
  -webkit-border-radius: 999px;
  border-radius: 999px;
}
/* line 195, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003195}}
div.switch.round label {
  padding: 0 0.5rem;
}
/* line 198, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003198}}
.buscador {
  margin-top: 24px;
}
/* line 201, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003201}}
.select2-choices {
  border-radius: 14px 0 0 14px;
}
/* line 205, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003205}}
.bs-default {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 214, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003214}}
.bs-default :after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
/* line 231, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003231}}
.bs-perfiles :after {
  content: "Perfiles";
}
/* line 238, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003238}}
.bs-universidades :after {
  content: "Universidades";
}
/* line 243, /var/www/AppLiderazgoMoodel/themes/Liderazgo/css/template.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/AppLiderazgoMoodel\/themes\/Liderazgo\/css\/template\.less}line{font-family:\00003243}}
#content {
  margin-left: none !important;
  margin-right: none !important;
}
